$font-1 : hammersmith one;
$font-2 : lobster;
$font-3 : oswald;
$font-4 : overlock;
$font-5 : passion one;
$font-6 : paytone one;
$font-7 : righteous;
$font-8 : roboto;
$font-9 : ubuntu;
$font-10 : vast shadow;